* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body, html {
    height: 100%;
}

.bg-image {
    background-image: url("Images/c.jpg");
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: auto;
    position: relative;
}

.bg-text {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    text-align: left;
}

/*End of background*/

.container1 {
    background-color: aqua;
    width: 50%;
    height: 700px;
    float: left;
}

.container2 {
    background-color: purple;
    width: 50%;
    height: 700px;
    float: left;
}

.container3 {
    border-radius: 35px;
    background-color: black;
    padding: 20px;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    width: 70%;
    height: 600px;
    margin: 50px 15% 50px;
}

.container4 {
    border-radius: 35px;
    background-color: black;
    padding: 20px;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    width: 70%;
    height: 600px;
    margin: 50px 15% 50px;
}

li {
    float: left;
    list-style-type: none;
}

h2 {
    color: white;
    text-align: center;
}